* {
    box-sizing: border-box;
}

h1{
    background-color: blue;
    color: aliceblue;
}

.p1{
    color: blueviolet;
}

.p2{
    color: red;
}

.p3{
    color: green;
}

body {background-color: gray;}

.border1{
    background-color: yellow;
    padding-bottom:20px;
    border:20px solid navy;
    display:inline-block;
}
